<!DOCTYPE html>
<html>
<head>
  <title>Sign up page</title>
  <link rel="stylesheet" href="../public/css/sign_up.css">
</head>
<body>
  
    <div class="container">
      <div class="center">
        <h1>Sign up </h1>
        <form action="/register" method="POST">
          <div class="txt_field">
            <input name='name' type="text" required>
      
            <label>Name</label>
          </div>
          <div class="txt_field">
            <input  name='email' type="text" required>
      
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input name='password' type="password" required>
            <label>Password</label>
          </div>
          <!-- <div class="txt_field">
            <input name='cpassword' type ="password" required>
      
          <label>Confirm Password</label>
          </div> -->
          <div>
            <input type=submit value=Submit>
            <div class="signup_link">
              Already have an account?(Instructor)<a href="instructor_login.html">Login</a>
              <div class="signup_link">
                Already have an account?(Student)<a href="/login">Login</a>
        </form>
        </div>
    
    </div>
</body>
</html>
