*{
   margin: 0;
   padding: 0;
}
.nav{
    width: 100%;
    height: 4rem;
    background-color: rgb(245, 241, 241);
}
.reasoning{
    text-align: center;
    margin: 2rem 0;
}


.logical_h1{
    font-size: 2.5rem;
}
.reas_category div{
    display: flex;
    height: 7rem;
    font-size: 1.4rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    margin: 1rem 0;
    box-shadow: -10px 10px 40px rgba(175, 174, 174, 0.3);

}

.div_title{
    padding: 0 2rem;
}
.div_title p{
    margin-right: 1rem;
}
.btn_{
       width: 12rem;
       margin-right: 2rem;
       height: 3.2rem;
       background-color:#0eb582;
       color: #fff;
       letter-spacing: 1px;
       border: none;
       cursor: pointer;
       font-size: 1.6rem;
}

.btn_:hover{
    background-color:#4acea6 ;
}

@media (max-width:540px){
    .btn_{
        width:8rem ;
        font-size: 1.1rem;
    }
    .div_title p{
        font-size: 1rem;
    }
    .div_title h2{
        font-size:1.6rem ;
    }
    
}
