.ques_bar{
    width: 98%;
    border: 1px solid #0aa778;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    border-radius: 1rem;
    height:5rem;
    align-items: center;
    font-size: 1.5rem;
    /* box-shadow: 2px 2px 6px rgba(0,0,0,0.3); */

}
.ques_bar h1{
    width: 38rem;
    padding: 1rem 0;
    
}
.ques_bar span{
    
    margin: 1rem;
    width: 3rem;
    color: red;
    
}

.codecateg{
    position: relative;
    padding:1.7rem 2.2rem;
    margin: 1rem;
    height: 7rem;
    border: 2px solid #0aa778;
    /* box-shadow: 3px 4px 6px rgba(0,0,0,0.3); */
    /* position: sticky;
    top: 0;
    z-index: 10; */
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
    
}
.codecateg_new{
    border: 2px solid #0aa778;
    border-radius: 2rem;
    position: relative;
    padding: 2rem;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
}
.codecateg_div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.codecateg_div button{
    /* border: 1px solid; */
    margin: 0.6rem 1rem;
    height: 3rem;
    padding:0 1rem;
    cursor: pointer;
    border-radius: 1.4rem;
    background-color:#d2f3e9;

}
.codecateg_div button:focus{
    background-color:#0eb582;
}

.expand{
   position: absolute;
   right: 1rem;
   top: 0.8rem;
   width: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.expand button{
  position: absolute;
  width: 6rem;
  color: #fff;
  right: 1rem;
  bottom: 2rem;
  height: 2.5rem;
  border-radius: 0;
  letter-spacing: 1px;
  cursor: pointer;
  background-color:#0eb582;
  font-size: 1.2rem;
}

@media (max-width:600px){
    .ques_bar{
        font-size: 1rem;
    
    }
  
    .expand button{
        font-size: 0.7rem;
        width: 5rem;
     
      }
}