.ques_bar{
    width: 98%;
    border: 1px solid #0aa778;
    /* padding-left: 1.2rem;
    padding-right: 1rem; */
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    color: var(--secColor);
    border-radius: 1rem;
    min-height:5rem;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    /* box-shadow: 2px 2px 6px rgba(0,0,0,0.3); */

}
.ques_bar:hover{
    transform: scale(1.03);
    background-color: #0eb582;
    color: white;
}
.ques_bar h1{
    width: 42rem;
    padding: 1rem 0;
    
}
.ques_bar span{
    
    margin: 1rem;
    width: 3rem;
    color: red;
    
}

.codecateg{
    position: relative;
    padding:1.1rem 2.2rem;
    margin: 1rem;
    height: 6.8rem;
    background-color: var(--primColor);
    border: 2px solid #0aa778;
    /* box-shadow: 3px 4px 6px rgba(0,0,0,0.3); */
    /* position: sticky;
    top: 0;
    z-index: 10; */
    /* background-color: #fff; */
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
    
}
.codecateg_new{
    border: 2px solid #0aa778;
    
    border-radius: 2rem;
    position: relative;
    padding: 2rem;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;  
}

.codecateg_div{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   

}
.codecateg_div button{
    /* border: 1px solid; */
    margin: 0.6rem 1rem;
    height: 3.5rem;
    font-size: 1.3rem;
    max-width: 12rem;
    color: white;
    border: none;
    padding:0 1rem;
    cursor: pointer;
    border-radius: 1.4rem;
    background-color:#3bba96;

}
.codecateg_div button:focus{
    background-color:#0eb582;
}

.expand{
   position: absolute;
   right: 1rem;
   top: 0.8rem;
   width: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.expand button{
  position: absolute;
  width: 6rem;
  color: white;
  right: 1rem;
  bottom: 2rem;
  height: 2.5rem;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color:#0a8963;
  font-size: 1.2rem;
}

@media (max-width:600px){
    .ques_bar{
        font-size: 1rem;
        padding-left: 1.2rem;
        padding-right: 1rem;
    }
    .codecateg{
        height: 6rem;
    }
    .codecateg_div{
        gap:0.62rem;
    }
    
    .codecateg_div button{
        padding: 0.3rem;
        margin: 0;
        min-width: 4.8rem;
        max-width: 10rem !important;
        min-height: 4rem;
    }
    .expand{
        position: absolute;
        right: 0;
    }
    .expand button{
        font-size: 0.9rem;
        width: 5rem;
     
      }
}