.swiper-slide{
     background: url("../images/home-slide-1.jpg") no-repeat ;

}
.swiper-slide2{
    background: url('../images/home-slide-2.jpg') no-repeat;
}
 

/* ------------------Coding problems ------------------ */

.home-courses .slide {
    text-align: center;
    position: relative;
    background: var(--primColor);
    overflow: hidden;
  }
.platform_page{
   display: flex;
}
.platform_container{
   display: grid;
   width: 100%;
    place-items: center;
   grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   grid-gap: 1rem;
}

.platform_name{
    width: 30rem;
} 
.home-courses .slide:hover .solve {
    bottom: 0;
  }
  
  .home-courses .slide .image {
    padding: 2rem;
  }
  
  .home-courses .slide .image img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .home-courses .slide .image h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--secColor);
  }
  
  .home-courses .slide .solve {
    position: absolute;
    bottom: -100%;
    right: 0;
    left: 0;
    background: var(--tertiary);
    padding: 2rem 3rem;
  }
  

.home-courses .slide .solve h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    color: #fff;
  }
  .heading{
    color: var(--secColor);
  }
  .home-courses .slide .solve p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    color: #eee;
  }
  
  .home-courses .slide .solve .btn:hover {
    background: #444;
  }





  /* --------------------footer-------------------------- */
  
.footer {
  border-top: 2px solid rgba(0,0,0,0.2);
    background: var(--primColor);
  }
  
  .footer .box-container {
    display:flex;
    flex-wrap: wrap;
    
  }
  .footer .box-container .box{
    width: 50%;
    padding: 0 7rem;
    
  }
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--tertiary);
    padding: 1rem 0;
  }
  
  .footer .box-container .box1 h3 i {
    color: #0eb582;
  }
  .footer .box-container .box1{
    width: 50%;
    
  }
  
  .footer .box-container .box1 h3 {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--tertiary);
    padding: 1rem 0;
  }
  .footer .box-container .box1 .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--secColor);
    padding: .5rem 0;
    display: block;
  }
  
  .footer .box-container .box1 .link:hover {
    color: #0eb582;
    text-decoration: underline;
  }
  
  .footer .box-container .box1 p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--secColor);
    padding: 1rem 0;
  }
  .footer .box-container .box h3 i {
    color: #0eb582;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
   
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background-color: #0eb582;
    color: #fff;
    margin-right: .3rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background-color: #444;
  }
  
  .footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--secColor);
    padding: .5rem 0;
    display: block;
  }
  
  .footer .box-container .box .link:hover {
    color: #0eb582;
    text-decoration: underline;
  }
  
  .footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    padding: 1rem 0;
  }
  
  .footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: 0.1rem solid #0eb582;
    margin-bottom: 1rem;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid #0eb582;
  }
  
  .footer .credit span {
    color: #0eb582;
  }
  
  

  @media (max-width:800px){
    .platform_name{
      width: 32rem;
  }
  .footer .box-container .box {
    padding: 0 5rem;
}

  }

  @media (max-width:460px){
    .footer .box-container .box1 p {
      font-size: 1.3rem;
      line-height: 2;
      /* color: #777; */
      padding: 1rem 0;
    }
    .footer .box-container .box {
        padding: 0 1.5rem;
    }
    .footer .box-container .box .link {
      font-size: 1.3rem;
    }
  }