.quiz_section{
    display: flex;
}
.quiz-img{
    height: 15rem;
}
.quiz-img img{
    width: 15rem;
    /* margin: 0.2rem 18.5rem; */
}
.quiz-box{
    width: 50%;
    border: 2px solid #0aa778;
    /* box-shadow: -5px 8px 10px rgba(0,0,0,0.5) ; */
    border-radius: 1rem;
    margin: 4rem 3rem;
}
.quiz_container{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}
.question_name{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    overflow: auto;
}
.option{
    padding: 0.5rem;
    width: 90%;
    margin-top:1rem;
    border: 1px solid rgb(36, 53, 53);
    font-size: 1.6rem;
}
.click_option{
    color: white;
    background-color: rgb(48, 62, 100);
}
.option:hover{
background-color: rgb(48, 62, 100);
color:#fff;
cursor: pointer;
}

.btn_container{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    height: 5rem;
}

.reset_btn,.next_btn{
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    background-color:#0eb582;
    color:#fff;
    border: none;
    border-radius: 0.5rem;
    
}
.reset_btn:hover,.next_btn:hover,.exit_btn:hover{
    background:rgb(42, 82, 42);
}

.exit_btn{
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    background:rgb(223, 88, 78);
    color:#fff;
    border: none;
    border-radius: 0.5rem;
    
}

.play_again{
    width: 6rem;
    height: 2.4rem;
    cursor: pointer;
    background:rgb(27, 223, 27);
    color:#fff;
    border: none;
    border-radius: 0.5rem;
}

.timer{
    width: 25rem;
    height: 15rem;
    border-radius: 2rem;
    /* display: flex; */
    box-sizing: border-box;
    /* box-shadow: 10px 10px 30px rgba(0,0,0,0.25); */
    border: 2px solid #0aa778;
  
}

.timer div{
  
    height: 30%; 

}
 .t1{
    text-align: center;

}
.t1 h2{
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: rgb(133, 131, 131);
}
.t2{
    text-align: center;
    display: flex;
    justify-content: center;
}
.t2 div{
  color: #fff;
  height: 6.4rem;
  width: 6.4rem;
  padding-top: 1.7rem;
  font-size: 1.6rem;
  border-radius:50% ;
  background-color: rgb(102, 102, 102);
  border: 3px solid #0aa778;
}


/* ---------------media-query--------------- */

@media (max-width:780px) {

    .quiz-img center img{
        width: 13rem;
        margin: 0.3rem 0 ;
    }
    .quiz_section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .quiz-box{
        width: 75%;
        border-radius: 1rem;
        margin: 3rem 3rem;
    }

    .timer{
        width: 75%;
        height: 6.2rem;
        margin:0;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }
    .timer div{
        width: 50%; 
    }
    .t1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .t1 h2{
        margin-top:0;

    }
    .t2{
        display: flex;
        align-items: center;
    }
    .t2 div{
        height: 4.5rem;
        width: 10rem;
        padding-top: 0.9rem;
        align-items: center;
        place-items: center;
        border: 3px solid #0aa778;
        border-radius: 5px;
      }
    
}

@media (max-width:460px) {
    .quiz-box{
        width: 85%;
        border-radius: 1rem;
        margin: 3rem 3rem;
    }
    .reset_btn,.next_btn,.exit_btn{
        width: 8rem;
        font-size: 1.2rem;
    }
    .timer{
        width: 75%;
        height: 5.5rem;
    }
    .t1 h2{
        font-size: 1.3rem;
    }
    .t2 div{
        height: 3.8rem;
        width: 7rem;
        font-size: 1.4rem;
        border-radius: 3px;
      }
    
}