:root{
    --boxShadow:-1px 1px 5px rgba(0,0,0,0.2);
    --bgColor:#0eb582;
}

.hamIcon{
    position: absolute;
    font-size: 2rem;
    left: 2rem;
    display: none;
    top: 8rem;
    color: var(--secColor);
}
.sidebarContainer{
    /* width: 100%; */
    height: 100vh;
    z-index: 10;

}
.dashContainer{
    width: 100%;
    /* height: 100vh; */
    display:grid;
    grid-template-columns: 1fr 4fr;
    padding: 0rem;
}
.sidebarAside{
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: #000;
    box-shadow: var(--boxShadow);
    background-color: var(--bgEffectColor);
    border: var(--border1);
    border-radius: 1rem;
    height: 90vh;
    /* position: fixed; */
    /* border-right: 1px solid rgba(0,0,0,0.3); */
}
.Li{
    margin-bottom: 3rem;
    list-style: none;
    padding:0.4rem 0.2rem;
    font-size: 1.7rem;
    border:0.4rem;
    border-radius: 0.4rem;
    color: var(--secColor);
    background-color: var(--lightEffect);
    border: var(--border1);

}

.dashContainer main{

}

/* -------(uploadContainer)-------- */



/* --------------(dashboard_css)----------- */

.dashContainer{

  box-sizing: border-box;
}
.dashmainContainer{
    width: 96%;
    margin: 1rem;
    border-radius: 0.6rem;
    padding: 1rem;
}
.adminh2{
        font-size: 3rem;
        font-weight:bolder;
        text-align: center;
        color: var(--secColor);
}
.dashmainContainer section{
    /* background-color: red; */
    /* height: 90%; */
    margin: 1rem;

}
.userWidget{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15rem;
   

}
.userWidget div{
    width: 16rem;
    border: var(--border1);
    /* height: 10rem; */
    background-color: var(--primColor);
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow:var(--boxShadow) ;
    padding: 1rem;

}
.userWidget div h3,.userWidget div h2{
   width: 6rem;
    display: grid;
    place-items: center;
   height: 6rem;
    border-radius: 50%;
    border: 2px solid gold;
    padding: 1rem;
    color: var(--secColor);
    margin-top: 1rem;
}
.userWidget div p{
    color: var(--secColor)
}

.registeredUser{
    /* background-color: rgb(237, 236, 236); */
   background-color: var(--lightEffect);
    /* height: 35rem; */
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    border: var(--border1);
    border-radius: 1rem;
}
.userDiv{
    /* width: 20rem; */
    height: 14rem;
    background-color: var(--primColor);
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 2rem;
 
}
.userDiv h3{
    color: var(--secColor);
}

.userDiv button{
      width: 8rem;
      height: 2.5rem;
      background-color: var(--bgColor);
      color: #fff;
      cursor: pointer;

}
.uploadBtn{
    background-color: var(--bgColor);
    color: #fff;
}

/* ------------(messages)-------------------- */

.msgContainer{
    /* background-color: red; */
    padding: 1rem;
}
.msgContainer section{
    /* background-color: blue; */
    padding: 2rem;
}
.msgdivBar{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    margin: 1rem;
    background-color: #292929;
    grid-gap: 1rem;
    padding: 2rem 1rem;
    box-shadow: var(--boxShadow);

}
.msgdivBar div h2,p{
    font-size: 1.3rem;
    color: var(--secColor);
}
.msgdivBar div:nth-child(1),.msgdivBar div:nth-child(2){
    width: 20%;
    padding: 1rem;
    border-right: 1px solid #000;
    background-color: red;
    display: contents;

}
.msgdivBar div:nth-child(3){
    width: 50%;
    font-size: 1.2rem;
    padding: 0.2rem;
    box-sizing: border-box;
    /* background-color: red; */
}
.msgdivBar div:nth-child(4){
    width: 10%;
}
.removeBtn{
    width: 6rem;
    height: 2.5rem;
    cursor: pointer;
    padding-bottom: 0.3rem;
    background-color: var(--bgColor);
    color: #fff;
    font-size: 1.4rem;
}

/* -------------(media-query)--------------- */

@media (max-width:660px){
  
    .dashContainer{
        display:grid;
        grid-template-columns: 1fr;
        padding: 0rem;
    }

    .sidebarContainer{
        position: absolute;
        left: -20rem;
    
        background-color: var(--primColor);

    }
    .sidebarContainer2{
        position: fixed;
        left: -1rem;
        height: 100vh;
        z-index:10 ;

        background-color: var(--primColor);

    }
   
    .hamIcon{
        position: fixed;
        display: unset;
        z-index: 20;
    }

    

    .msgdivBar div:nth-child(1),.msgdivBar div:nth-child(2){
        width: 20%;
        font-size: 1rem;
    }
    .msgdivBar div h2,p{
        font-size:1.4rem;
    }
}
