:root{
    --boxShadow:-1px 1px 5px rgba(0,0,0,0.2);
    --bgColor:#0eb582;
}
/* html{
    font-size: 16px;
} */

.hamIcon{
    position: absolute;
    font-size: 2rem;
    left: 2rem;
    display: none;
    top: 8rem;
}
.sidebarContainer{
    /* width: 100%; */
    height: 100vh;
    
}
.dashContainer{
    width: 100%;
    /* height: 100vh; */
    display:grid;
    grid-template-columns: 1fr 4fr;
    padding: 0rem;
}
.sidebarAside{
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    color: #000;
    box-shadow: var(--boxShadow);
    height: 90vh;
    /* position: fixed; */
    /* border-right: 1px solid rgba(0,0,0,0.3); */
}
.Li{
    margin-bottom: 3rem;
    list-style: none;
}

.dashContainer main{

}

/* -------(uploadContainer)-------- */

.uploadContainer{
    width: 100%;
    margin: 1rem;
    border-radius: 0.6rem;
    
    padding: 1rem;

}
.uploadContainer section{
    width: 100%;
    padding: 1.3rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 1fr 3fr; */
    justify-content: space-between;
}
.chooseUpload{
    box-shadow: var(--boxShadow);
    height: 80vh;
    width: 25%;
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 1rem;
}
.chooseUpload select{
    background-color:var(--bgColor) ;
    color: #fff;
    width: 12rem;
    height: 3rem;
}
.chooseUpload select option{
    width: 12rem;
    height: 4rem;
}
.addUpload{
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;
    box-shadow: var(--boxShadow);
}
.addUpload label{
    margin: 0 1rem;
    font-size: 1.5rem;
}
#quesInput{
    width:60%;
}
.addUpload input{
    border: 1px solid;
    width: 30%;
    height: 3rem;
    padding: 0 1rem;
    margin: 2rem 0;
}

.uploadBtn{
    width: 12rem;
    height: 4rem;

}

/* --------------(dashboard_css)----------- */

.dashContainer{

  box-sizing: border-box;
}
.dashmainContainer{
    width: 96%;
    margin: 1rem;
    border-radius: 0.6rem;
    padding: 1rem;
}
.adminh2{
        font-size: 3rem;
        font-weight:bolder;
        text-align: center;
}
.dashmainContainer section{
    /* background-color: red; */
    /* height: 90%; */
    margin: 1rem;

}
.userWidget{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15rem;

}
.userWidget div{
    width: 16rem;
    /* height: 10rem; */
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow:var(--boxShadow) ;
    padding: 1rem;

}
.userWidget div h3,.userWidget div h2{
   width: 6rem;
   text-align: center;
   height: 6rem;
    border-radius: 50%;
    border: 2px solid gold;
    padding: 1rem;
    margin-top: 1rem;
}

.registeredUser{
    background-color: rgb(237, 236, 236);
    /* height: 35rem; */
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;

    flex-wrap: wrap;

}
.userDiv{
    width: 20rem;
    height: 14rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
 
}

.userDiv button{
      width: 8rem;
      height: 2.5rem;
      background-color: var(--bgColor);
      color: #fff;
      cursor: pointer;

}

@media (max-width:660px){
    html{
        font-size: 8px;
    }
    .dashContainer{
        display:grid;
        grid-template-columns: 1fr;
        padding: 0rem;
    }

    .sidebarContainer{
        position: absolute;
        left: -20rem;
        
        background-color: #fff;

    }
    .sidebarContainer2{
        position: fixed;
        left: -1rem;
        height: 100vh;
        background-color: #fff;

    }
   
    .hamIcon{
        position: fixed;
        display: unset;
    }

    .uploadContainer section{
        flex-direction: column;
    }
    .chooseUpload{
        height: 15vh;
        width: 100%;
        margin: 1rem 0;
    }
    .addUpload{
        width: 100%;
    }
}