.uploadContainer{
    width: 100%;
    margin: 1rem;
    border-radius: 0.6rem;
    
    padding: 1rem;

}
.uploadContainer section{
    width: 100%;
    padding: 1.3rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 1fr 3fr; */
    justify-content: space-between;
}
.chooseUpload{
    box-shadow: var(--boxShadow);
    background-color: var(--bgEffectColor);
    height: 80vh;
    width: 25%;
    padding: 2rem;
    margin: 0 2rem;
    border-radius: 1rem;
    border: var(--border1);
    display: flex;
    flex-direction: column;

}
.chooseUpload div{
    margin:0 1rem;
}
.chooseUpload select{
    background-color:var(--bgColor) ;
    color: #fff;
    width: 12rem;
    height: 3rem;
    margin: 1rem;
}
.companyInp{
    width: 12rem;
    height: 3rem;
    margin: 1rem ;
    border: var(--border2);
    background-color: var(--bgEffectColor);
    color: var(--secColor);
}
.chooseUpload select option{
    width: 12rem;
    height: 4rem;
}
.addUpload{
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;
    background-color: var(--bgEffectColor);
    box-shadow: var(--boxShadow);
    border: var(--border1);

}
.addUpload div{
    margin:0 4rem;
}
.addUpload label{
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--secColor);
}
#quesInput{
    width:70%;
}
.addUpload input{
    border: var(--border2);
    width: 70%;
    opacity: 0.7;
    background-color: var(--primColor);
    color: var(--secColor);
    height: 3.4rem;
    padding: 0 1rem;
    margin: 2rem 0;
}
.addUpload textarea{
    border: var(--border2);
    width: 70%;
    opacity: 0.7;
    background-color: var(--primColor);
    color: var(--secColor);
    height: 10rem;
    padding: 0 1rem;
    margin: 2rem 0rem;
}

.ansInput{
    width: 40%;
}

.uploadBtn{
    width: 9rem;
    height: 3.5rem;
    cursor: pointer;
    margin: 0 4rem;

}

@media (max-width:800px) {

    .uploadContainer section{
        flex-direction: column;
    }
    .chooseUpload{
        height: unset;
        padding: 1rem;
        width: 100%;
        margin: 1rem 0;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .addUpload{
        width: 100%;
    }
    .addUpload input{
       width: 90%;
    }
    #quesInput{
        width:90%;
    }
    
}