

/* ---------------quiz-box------------------- */

/* -----------------------header-component---------------------------------- */
:root{
    --primColor:#fff;
    --secColor:#212121;
    --bgEffectColor:#fff;
    --tertiary:#10c690;
    --lightEffect:rgb(237, 236, 236);
    --border1:2px solid rgba(249,249,249,0.08)
}
body{
    background-color: var(--primColor);
    overflow: hidden;
}

.dark-theme{
    --primColor:#212121;
    --secColor:#fff;
    --bgEffectColor:#282828;
    --tertiary:#097f5c;
    --lightEffect:#272727
}
.navdiv{
    display:flex;
  

}
.navb{
    width:100%;
    display: flex;
    height:6.6rem;
    justify-content:space-between;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.navb .logo{
    font-size: 1.8rem;
    margin-left: 1rem ;
    margin-top: 0.6rem;
}
.logo h1{
    color: var(--secColor);
    padding-top: 0.7rem;
}
.header1 ul{
    display: flex;
    align-items: center;
    position: absolute;
    right: 1.6rem;
}
.header1 ul li{
    list-style: none;
    padding-bottom: 1.6rem;
    padding-top: 1.7rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 2.1rem;
    font-weight: 600;
    /* position: relative; */
}
.userNameLi{
    color: var(--secColor);
    font-size: 2.1rem;
}
.header1 ul li::before {
    content: '';
    position: absolute;
    width: 0rem;
    height: 0.3rem;
    margin-left: 0.3rem;
    bottom: 1.5rem;
    background-color: var(--tertiary);
    border-radius: 2rem;
    transition: all ease 0.5s;
    
}
.header1 ul li:hover::before , .login_btn:hover:before{
    /* box-shadow: 0px 4px 10px rgba(0,0,0,0.2); */
    width: 4.2rem;
}
.header1 ul li:hover a{
    font-weight:bolder;
}
#Signup{
    padding: 0.4rem 1.4rem;
    background-color: var(--tertiary);
    border-radius:1rem;
    color: white;
}
#Signup:hover{
    background-color: var(--tertiary);
}
#Signup > a{
    color: white;
}
.login_btn{
    font-size: 1.75rem;
    font-weight: 600;
}
.linker , .login_btn{
    color: var(--tertiary);
}
.header1 .fa-xmark{
    display: none;
}

.header1 ul li a{
    color: var(--tertiary);
}
.fa-bars-staggered{
    display: none;
  }

.compete_div h1,h2{
    color: var(--secColor);
    
}

@media (max-width:600px) {

    .header1{
        height: 100vh;
    }
    .header1 .sider{
        display: block;
        border: 2px solid;
        /* background-color: rgb(67, 131, 131); */
        position: fixed;
        overflow-y: hidden;
        top: 0;
        right: -45%;
        width: 35%;
        height: 100vh;
        z-index: 2;
        transition: all 1s ease;
     }
     .header1 .sider-open{
        display: block;
        position: relative;
        border-left: 2px solid var(--tertiary);
        background-color: var(--primColor);
        position: fixed;
        top: 10;
        right: 0%;
        width: 40%;
        height: 100%;
        z-index: 2;
        overflow: auto;
        padding:7rem 1rem;
        color: black;
        transition: all 0.8s ease;
       
     }
    .header1  .fa-xmark{
        display: block;
        position: absolute;
        top:1rem;
        left: 0.1rem;
        font-size: 4rem;
        color:var(--secColor);
        margin-left: 0.5rem;
        font-size: 1.4rem;
    
      }
      .userLogo{
        position: absolute;
        top: 5rem;
        left:3.9rem;
       
      }
      .theme{
        position: absolute;
        top:1rem;
        right:1rem;
      }
      .fa-bars-staggered{
        display: unset;
        font-size: 2.5rem;
        position: relative;
        right: 2rem;
        top: 1rem;
        color: var(--secColor);
      }
   
     .header1 .sider-open  li{
        margin: 4rem 1rem;
        color:var(--tertiary);
    }
    .header1 ul{
        padding-top: 2rem;
    }
    .header1 ul li a{
       font-size: 2.2rem;
       margin: 2rem 0;
     }
    .header1 .logo{
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    .header1 ul li{
        margin: 1.4rem 1rem;
        list-style: none;
        font-size: 1.2rem;
    }

}
